.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.column {
  overflow-y: auto;
}

.column-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.column-2 {
  width: 50%;
}

.column-3 {
  width: 30%;
}

.column-1 > * {
  height: 50%;
  overflow-y: auto;
}

.scrollable {
  overflow-y: auto;
  height: 100%;
}